body {
  margin: 0;
}

/* FONT */

@font-face {
  font-family: DTLFleischmann-Bold;
  src: url('DTLFleischmann-DBold.otf');
}

@font-face {
  font-family: DTLFleischmann-Regular;
  src: url('DTLFleischmann-STRegular.otf');
}

@font-face {
  font-family: DTLFleischmann-Italic;
  src: url('DTLFleischmann-STItalic.otf');
}

@font-face {
  font-family: GillSans;
  src: url('GillSans.ttc');
}

/* LINK */

.container a:link {
  color: black;
  text-decoration: none;
}

.container a:visited {
  color: black;
}

.container a:hover {
  color: #ff7500;
}

.rightContainer a:active {
  color: black;
}

/* STRUCTURE */

.background {
  background-color: #ff7500;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background2 {
  display: flex;
  justify-content: center;
  align-items: center;

}

.container {
  /*background-color: yellow;*/
  margin: 0 auto;
  width: 50%;
  padding: 100px;

}

ul {
  padding: 0;
}


.lucanus {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

.icon {
  max-width: 50px;
  margin: 0 auto;
  text-align: center;
  display: block;
  padding: 50px 0;
}

.qr {
  max-width: 100px;
  margin: 0 auto;
  text-align: center;
  display: block;
  padding: 50px 0;
}

.intro {
  min-height: 100%;
}

.book {
  /*padding-top: 30px;*/
}

/* STYLE */

.titleSans {
  color: black;
  font-family: GillSans;
  font-size: 2em;
  /*letter-spacing: 0.05em;*/
  text-align: center;
  text-transform: uppercase;
}

.titleSerif {
  color: black;
  font-family: DTLFleischmann-Bold;
  font-size: 2em;
  /*letter-spacing: 0.05em;*/
  text-align: center;
  text-transform: uppercase;
}

.SubTitleSans {
  color: black;
  font-family: GillSans;
  font-size: 1em;
  /*letter-spacing: 0.05em;*/
  text-align: center;
  text-transform: uppercase;
}

.body {
  color: black;
  font-family: DTLFleischmann-Regular;
  font-size: 1.2em;
  text-align: center;
}

.titleSansInt {
  color: #6b5956;
  font-family: GillSans;
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
}

.titleSerifInt {
  color: #6b5956;
  font-family: DTLFleischmann-Bold;
  font-size: 1.5em;
  /*letter-spacing: 0.05em;*/
  text-align: center;
  text-transform: uppercase;
}

.bodyInt {
  color: #6b5956;
  font-family: DTLFleischmann-Regular;
  font-size: 1.2em;
  text-align: justify;
  hyphens: auto;
}

.bodyItalic {
  color: #6b5956;
  font-family: DTLFleischmann-Italic;
  font-size: 1.2em;
  text-align: justify;
  hyphens: auto;
}

.info {
  color: #6b5956;
  font-family: DTLFleischmann-Regular;
  font-size: 1.2em;
  text-align: center;
  hyphens: auto;
}

h1 {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
}

li {
  display: inline-block;
  font-family: GillSans;
  font-size: 1em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
  text-align: center;
}

li span {
  display: block;
  font-size: 4.5rem;
  font-family: DTLFleischmann-Bold;
  text-align: center;
}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji span {
  font-size: 4rem;
  padding: 0 .5rem;
}

@media all and (max-width: 768px) {

  .titleSans {
    font-size: 1.3em;
  }

  .titleSerif {
    font-size: 1.3em;
  }

  h1 {
    font-size: 1.5rem;
  }

  li {
    font-size: 0.8rem;
    padding: .35rem;
  }

  li span {
    font-size: 1.75rem;
  }

  ul {
    padding-top: 40px;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    width: fit-content;
  }

  .titleSans {
    color: black;
    font-family: GillSans;
    font-size: 1.25em;
    /*letter-spacing: 0.05em;*/
    text-align: center;
    text-transform: uppercase;
  }

  .titleSerif {
    color: black;
    font-family: DTLFleischmann-Bold;
    font-size: 1.5em;
    /*letter-spacing: 0.05em;*/
    text-align: center;
    text-transform: uppercase;
  }

  .SubTitleSans {
    color: black;
    font-family: GillSans;
    font-size: 0.8em;
    /*letter-spacing: 0.05em;*/
    text-align: center;
    text-transform: uppercase;
  }

  .container {
    width: 90%;
  }
  
  .bodyInt {
    text-justify: distribute;
    word-spacing:-2px;
  }

  /*#countdown {
    position: relative;
  }*/
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 550px) and (max-width : 1024px) {
  ul {
    padding-top: 40px;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    width: fit-content;
  }

  li {
    font-size: 0.8rem;
    padding: .35rem;
  }

  li span {
    font-size: 1.75rem;
  }
}
